<div>
  <h1>Scrollable example</h1>
  <div class="scrollable">
    <div class="scrollable__inner" xsScrollable [xsScrollableOptions]="{ stopPropagation: true }" #scrollable="scrollableDirective">
      <div *ngFor="let row of rows">Row {{row}}</div>
    </div>
    <gxs-scrollbar [scrollable]="scrollable"></gxs-scrollbar>
  </div>
</div>

<div>
  <h1>Scrollable horizontal example</h1>
  <div class="scrollable">
    <div class="scrollable__inner" xsScrollable [xsScrollableOptions]="{ horizontal: true }" #scrollable2="scrollableDirective">
      <div class="scrollable__items-row">
        <div *ngFor="let row of items" class="scrollable__item">Item {{row}}</div>
      </div>
    </div>
    <gxs-scrollbar [scrollable]="scrollable2"></gxs-scrollbar>
  </div>
</div>
